<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Home</title>
</head> -->
<%- include('nav')%>
<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header')%>
    </header>
    <h1 class="text-green-500 p-3">
        this is home page
    </h1>
    <footer>
        <%- include('../common/footer')%>
    </footer>
</body>
</html>