<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/head', {title: "Home" }) %>
</head>

<body class="relative w-screen overflow-x-hidden">
    <%- include('../common/nav') %>

        <div class="bg-gray-200">
            <div class="w-full overflow-hidden block md:flex">
                <div class="w-full md:w-[800px] container p-5">
                    <div class="relative">
                        <h1 class="text-3xl capitalize py-3">
                            Welcome to Dear Sija Block manufacturing ltd.
                        </h1>
                        <span class="absolute bg-red-500 w-[100px] h-[2px] left-0 bottom-0"></span>
                    </div>
                    <div class="text-gray-500 leading-9 tracking-wider container py-3">
                        Dear Sija is a privately-owned organization with over
                        a decade of experience in delivering quality services to the
                        market.We have a diversified range of construction materials
                        given our core strenghtof owning and operating our own quarries.
                    </div>
                    <div class="text-gray-500 leading-9 tracking-wider container py-3">
                        The visionary leadership along with dedicated workers who understands the markets
                        and client requirements have helped Dear Sija to grow exponentially from the time of
                        its establishment in 1986.
                    </div>
                    <div>
                        <a href="/about">
                            <button type="button"
                                class="border-2 before:h-0 hover:before:h-full hover:text-white before:duration-500 before:transition-all before:-z-10 before:bg-red-600 before:absolute before:w-full overflow-hidden relative before:left-0 hover:before:bottom-0 before:top-0 border-red-400 p-4">Read
                                More</button>
                        </a>
                    </div>
                </div>
                <div class="m-4 drop-shadow-md shadow-red-400">
                    <img src="/blocks.jpeg" alt="" class="w-full h-full md:h-96 object-cover">
                </div>
            </div>
        </div>
        <div class="m-5 mb-8">
            <div class="text-center flex flex-col items-center justify-center">
                <h1 class="p-4 pt-10 text-3xl font-medium">Why Choose us</h1>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                </svg>
                <span class="text-gray-500">
                    We set highest importance on quality. We source our products from the reputed
                    suppliers.
                </span>
            </div>
            <div class="md:flex justify-center items-center text-gray-500">
                <span class="flex justify-center flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-20 h-20 md:h-32 md:w-32 text-red-500 border rounded-full p-2 md:p-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
                    </svg>
                    <h1 class="p-4">Prompt Delivery</h1>
                </span>
                <span class="flex justify-center flex-col items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="md:w-32 md:h-32 h-20 w-20 text-red-500 border rounded-full p-2 md:p-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                    </svg>
                    <h1 class="p-4">Standard Approved</h1>
                </span>
                <span>

                </span>
            </div>
        </div>

        <%- include('../common/footer') %>

            <script src="/navibar.js"></script>
            <script src="/active.js"></script>

</body>

</html>