<%- include('../common/head')%>


    <nav class="flex justify-between items-center bg-orange-700 drop-shadow-lg z-40">
        <div class="p-3">
            <h1 class="text-3xl">
                Dear Sija
            </h1>
        </div>
        <div class="flex">
            <div class="hidden md:block" id="navTab">
                <ul class="flex text-lg">
                    <li class="p-2 active:text-gray-500 relative">
                        <a href="/" class="group">
                            HOME
                            <span
                                class="absolute bottom-0 left-0 w-0 bg-gray-500 h-1 transition-all group-hover:w-full duration-500"></span>
                        </a>
                    </li>
                    <li class="p-2 relative">
                        <a href="/home" class="group">
                            PROJECT
                            <span
                                class="absolute bottom-0 left-0 w-0 bg-gray-500 h-1 transition-all group-hover:w-full duration-500"></span>
                        </a>
                    </li>
                    <li class="p-2 relative">
                        <a href="/about" class="group">
                            ABOUT US
                            <span
                                class="absolute bottom-0 left-0 w-0 bg-gray-500 h-1 transition-all group-hover:w-full duration-500"></span>
                        </a>
                    </li>
                    <li class="p-2 relative">
                        <a href="contacts" class="group">
                            CONTACTS
                            <span
                                class="absolute bottom-0 left-0 w-0 bg-gray-500 h-1 transition-all group-hover:w-full duration-500"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex">
                <span class="p-2 md:hidden" id="bars">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.25em"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM64 256c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                    </svg>
                </span> 
            </div>
        </div>
    </nav>

    <nav class="z-50 fixed top-0 left-0 w-full hidden">
        <div class="bg-white/60 p-4 pb-0 shadow-md justify-between relative">
            <ul class="py-9 text-center">
                <li class="p-3 border-b">
                    <a href="/home" class="px-4 py-2 hover:text-gray-500 relative">
                        HOME
                    </a>
                </li>
                <li class="p-3 border-b">
                    <a href="" class="px-4 py-2 hover:text-gray-500">
                        PROJECT
                    </a>
                </li>
                <li class="p-3 border-b">
                    <a href="" class="px-4 py-2 hover:text-gray-500">
                        ABOUT US
                    </a>
                </li>
                <li class="p-3 border-b">
                    <a href="" class="px-4 py-2 hover:text-gray-500">
                        CONTACTS
                    </a>
                </li>
            </ul>
            <div class="absolute top-3 right-2">
                <div>
                    <span class="cursor-pointer" id="xmark">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
                            viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </nav>